# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Virtual envs / local env folders
venv/
env/
.env/
.venv/

# Data / dataset artifacts
fra-eng/
fra-eng.zip

# Model and preprocessing artifacts
#*.keras
#*.pkl
*.h5
*.ckpt
*.pt
*.joblib

# Logs
*.log

# Node dependencies and builds
node_modules/
dist/
.vite/

# Python caching
__pycache__/
*.py[cod]
*$py.class

Thumbs.db

# OS Files
.DS_Store

/plan